In [1]:
import requests

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [2]:
import pandas as pd
nba = pd.read_csv("nba_all_elo.csv")
type(nba)

pandas.core.frame.DataFrame

In [7]:
import requests
## https://github.com/kshaffer/election2016/blob/master/2016ElectionResultsWithElectoralCollege.csv
download_url = "https://raw.githubusercontent.com/kshaffer/election2016/master/2016ElectionResultsWithElectoralCollege.csv"
target_csv_path = "2016ElectionResultsWithElectoralCollege.csv"

response = requests.get(download_url)
response.raise_for_status()
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [1]:
import pandas as pd
election2016 = pd.read_csv("2016ElectionResultsWithElectoralCollege.csv")
type(election2016)

pandas.core.frame.DataFrame

In [2]:
len(election2016)

51

In [3]:
election2016.shape

(51, 14)

In [5]:
election2016.head()

,Unnamed: 0,state,postal,clintonVotes,clintonElectors,trumpVotes,trumpElectors,johnsonVotes,steinVotes,mcmullinVotes,othersVotes,totalVotes,population2010,electors2016
0,1,Alabama,AL,729547,0,1318255,9,44467,9391,0,21712,2123372,4780127,9
1,2,Alaska,AK,116454,0,163387,3,18725,5735,0,14307,318608,710249,3
2,3,Arizona,AZ,1161167,0,1252401,11,106327,34345,0,0,2554240,6392307,11
3,4,Arkansas,AR,380494,0,684782,6,29829,9473,13255,12712,1130635,2915958,6
4,5,California,CA,8696374,55,4452094,0,474615,275823,0,65507,13964413,37254503,55

In [6]:
pd.set_option("display.max.columns", 7)

In [7]:
election2016.head()

   Unnamed: 0  ... electors2016
0           1  ...            9
1           2  ...            3
2           3  ...           11
3           4  ...            6
4           5  ...           55

[5 rows x 14 columns]